<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    
    <div id="content">
        {% block content %}
       {% endblock %}
    </div>

</body>
</html>